// colors

$background-color-default: rgb(231, 82, 53);
$background-color-correct: rgb(133, 131, 38);

$background-color-main: rgb(163, 112, 63);
$background-color-input: rgb(130, 95, 51);
$background-color-button: rgb(212, 197, 153);
$background-color-decor: rgba(25, 13, 0, 0.76);
$background-color-antenna_legs: rgb(74, 45, 7);

$border-color-dark: rgb(74, 45, 7);
$border-color-light: rgb(220, 178, 135);
$border-color-hints_area: rgb(117, 87, 49);

$shadow-color: rgba(74, 45, 7, 0.678);
$shadow-color-inset-default: rgb(220, 178, 135);
$shadow-color-inset-correct: rgb(220, 197, 135);
$shadow-color-outside-global: #888;

$color-font: rgb(240, 211, 170);
